<h1><%= @recipe.name %></h1>

<h3>How to make <%= @recipe.name %> </h3>

<% if @recipe.ingredients.any?() %>
  <p>You will need these ingredients: </p>
  <ul>
    <% @recipe.measurements.each do |measurement| %>
      <li><%= measurement.ingredient.text %>, <%= measurement.amount %></li>
    <% end %>
  </ul>
  <p>Follow these instructions:</p>
  <ol>
    <% @recipe.instructions_recipes.each do |instructions_recipes| %>
      <li><%= instructions_recipes.instruction.text %></li>
    <% end %>
  </ol>
<% end %>
  <p> There isn't a recipe for this item yet! </p>
  <form action="/new_instruction/<%= @recipe.id %>" method="post">
    <input name="new_instruction" placeholder="Instruction">
    <button type="submit">Add Instruction</button>
  </form>
  <form action="/new_ingredient/<%= @recipe.id %>" method="post">
    <input name="new_ingredient" placeholder = 'add an ingredient'>
    <input name="new_amount" placeholder = 'add an amount'>
    <button type="submit">Add Ingredient</button>
  </form>
